@using System.Web.Optimization
<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Maksym Shchyhol" />
    <meta name="description" content="Repair-Tec" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Repair shop management software" />
    <title>Repair-Tec</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    @Styles.Render("~/Content/css")
</head>
<body ng-app="repTec">
    <div class="ui stackable inverted menu">
        <div class="ui container">
            <a id="logo-menu-item" href="/" class="header item">
                <img class="logo" src="~/Content/Assets/repair.png" alt="">
                Repair-Tec
            </a>
            <a id="requests-menu-item" href="#/repair-requests" class="teal item">Заявки на ремонт</a>
            <a id="repairers-menu-item" href="#/repairers" class="blue item">Мастера</a>
            <a id="nomenclature-menu-item" href="#/nomenclature" class="violet item">Номенклатура</a>
        </div>
    </div>
    <div class="ui main container">
        <ng-view></ng-view>
    </div>
    @Scripts.Render("~/Scripts/libraries")
    @Scripts.Render("~/angular")
    @Scripts.Render("~/Scripts/semantic")
</body>
</html>