@using System.Web.Optimization
<!DOCTYPE HTML>
<html lang="ru" ng-app="repTec">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Maksym Shchyhol" />
    <meta name="description" content="Repair-Tec" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Repair shop management software" />
    <title>Repair-Tec</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="ui stackable inverted menu menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img class="logo" src="~/Content/Assets/repair.png">
                Repair-Tec
            </a>
            <a href="#/view1" class="teal item active">Teal</a>
            <a href="#/view2" class="blue item">Blue</a>
            <a class="violet item">Violet</a>
            <a class="brown item">Brown</a>
            <a class="olive item">Olive</a>
            <a class="green item">Green</a>
        </div>
    </div>
    <div class="ui main text container">
        <ng-view></ng-view>
    </div>
    @Scripts.Render("~/Scripts/libraries")
    @Scripts.Render("~/angular")
    @Scripts.Render("~/Scripts/semantic")
</body>
</html>
